@import './overrides.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.covalence-blue {
    color: #0091ea;
}

.storeCard {
    width: 11em;
}

#store0 {
    color: red;
}

#test {
    height: 100px;
    width: auto;
}

#avatar {
    border-radius: 50%;
    height: 35px;
    width: auto;
}